body {
  background-color: #068284;
  background-image: linear-gradient(45deg, #089c75 15%, #09a2a5 85%);
  color: #fff;
}

select option {
  background: #068284;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  color: #068284;
}

#header.alt .logo {
  display: inline-block;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  border-radius: 50%;
}

#header.alt .logo img {
  margin: 0;
  max-width: 100%;
}

#main input[type="submit"].primary,
#main input[type="reset"].primary,
#main input[type="button"].primary,
#main button.primary,
#main .button.primary {
  background-color: #068284;
}
#main input[type="submit"].primary:hover,
#main input[type="reset"].primary:hover,
#main input[type="button"].primary:hover,
#main button.primary:hover,
#main .button.primary:hover {
  background-color: #065a5b;
}

#main input[type="submit"].primary:active,
#main input[type="reset"].primary:active,
#main input[type="button"].primary:active,
#main button.primary:active,
#main .button.primary:active {
  background-color: #065a5b;
}

ul.actions.special.special {
  flex-wrap: wrap;
  margin-bottom: -1em;
}

.actions.special li {
  margin-bottom: 1em;
}

#main input[type="checkbox"] + label:before,
#main input[type="radio"] + label:before {
  border: 1px solid #949494;
}

#nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.7);
}
